/* CSS Reset */

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

/* End reset */
body{
    background-color: #111;
}
header{
    min-height: 250px;
    background-image: url(./images/crt.png);
    background-size: 100% 100%;
}
h1, h2{
    /* text-align: center; */
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Sixtyfour", 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" -24;  
    padding-top: 10px;
}

header div{
    max-width: 1000px;
    /* border: red 1px solid; */
    margin: auto;
}

h1{
    padding-top: 60px;
}

main{
    display: flex;
    /* gap: 20px; */
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    /* padding-top: 10px; */

    /* border: 1px red solid; */
}
nav {
    border: 1px white dashed;
    /* border: 10px solid transparent; */
    /* border-image: url(./images/portal-border.svg) 30 round; */

    flex:1;
}
h3{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* text-align: center; */
    padding: 20px 50px ;
}
 main ul {
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    min-height: 350px;
    padding: 0 50px ;

    /* border: 1px green solid; */

    /* gap: 20px; */
 }

 main ul li {
    margin-bottom: 20px;
    /* animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; */

 }

 main ul li a{
    text-decoration: none;
    color: white;
    /* background-color: red; */
    /* padding: 10px; */
    font-family: 'Courier New', Courier, monospace;
 }

 main ul li a:hover{
    animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
 }

 main ul li a:active{
    background-color: white;
    color: #111;
    text-decoration: none;
    animation-name: access; 
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
 }

 #cursor{
    animation-name: cursorBlink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
 }

footer{
    max-width: 1000px;
    margin: auto;
    padding-top: 10px;
}

 footer p{
    color: white;
    font-family: "Sixtyfour", 'Courier New', Courier, monospace;
    padding-top: 10px;
 }


 @keyframes blinking {
    25%{
        text-decoration: underline;
        /* list-style-type: ; */
    }
    50%{
        text-decoration: none;
    }
    75%{
        text-decoration: underline;
    }
 }

 @keyframes cursorBlink {
    25%{
        display: none;   
    }
    50%{
    }
    75%{
        display: none;
    }
 }

 @keyframes access {
    25%{    
        background-color: white;
        color: #111;
        /* text-decoration: none; */
    }
    50%{
        /* text-decoration: none; */
        background-color: #111;
        color: white;
    }
    75%{
        /* text-decoration: none; */
        background-color: white;
        color: #111;
    }
 }