body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4a4a;
    padding-bottom: calc(100svh - 100px);
}

header {
    height: 100px;
    position: sticky;
    top:0;
    width: 100%;
    background-color: rgba(107, 199, 73, 0.3);
    display: grid;
    place-content: center;
    text-align: center;
}

h1, p {
    margin: 0;
}

section {
    box-sizing: border-box;
    border: 5px solid #d3e019;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    height: calc(100svh - 200px);
    display: grid;
    place-content: center;
    text-align: center;
    transition: all 1s;
}

img{
    /* position:  sticky; */
    position: fixed;
    top: 50%;
    left: 0%;
     /*-72%*/
    /* width: 900px; */
    /* height: 1200px;  */    
    /* transform-origin: 28% 50%; */
    /* transform: rotate(1deg); */
    transition: all 1s;
}

.rp1{transform: translate(-72%, -50%) rotate(0deg);}
.rp2{transform: translate(-72%, -50%) rotate(45deg);}
.rp3{transform: translate(-72%, -50%) rotate(90deg);}
.rp4{transform: translate(-72%, -50%) rotate(135deg);}
.rp5{transform: translate(-72%, -50%) rotate(180deg);}
.rp6{transform: translate(-72%, -50%) rotate(225deg);}
.rp7{transform: translate(-72%, -50%) rotate(270deg);}
.rp8{transform: translate(-72%, -50%) rotate(315deg);}

article{
    position: fixed;
    left: 55%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    transition: all 1s;
}

article div {
    position: relative;
}
.ap1{top: calc(100px - 0 * 100vh);}
.ap2{top: calc(100px - 1 * 100vh);}
.ap3{top: calc(100px - 2 * 100vh);}
.ap4{top: calc(100px - 3 * 100vh);}
.ap5{top: calc(100px - 4 * 100vh);}
.ap6{top: calc(100px - 5 * 100vh);}
.ap7{top: calc(100px - 6 * 100vh);}
.ap8{top: calc(100px - 7 * 100vh);}

.desc1 figcaption{
    margin-top: 45%;
    margin-left: 5%;
}

/* .desc1 p{
    margin-left: 5%;
} */



article div{
    border: 1px red solid;
    min-height: calc(100svh - 100px);
    max-height: calc(100svh - 100px);
    max-width: 450px;
}


/* Without animating color change */
/* .bgcolor1 { background-color: #f8edcb;}
.bgcolor2 { background-color: #eaf8cb;}
.bgcolor3 { background-color: #cbeef8;}
.bgcolor4 { background-color: #dfcbf8;}
.bgcolor5 { background-color: #f8cbe4;} */

/* Animating the color change */
.bgcolor1 { background-color: #f8edcb; transition: all 1s;}
.bgcolor2 { background-color: #eaf8cb; transition: all 1s;}
.bgcolor3 { background-color: #cbeef8; transition: all 1s;}
.bgcolor4 { background-color: #dfcbf8; transition: all 1s;}
.bgcolor5 { background-color: #f8cbe4; transition: all 1s;}

.offscreen {
    border: 5px solid #d3e019;
    font-size: 1em;
}

.onscreen {
    border: 15px solid #f40c9f;
    font-size: 2em;
}