/* CSS Reset */

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

/* End reset */

body{
    /* display: flex; */
    background-color: #222;
    max-width: 1250px;
    margin: auto;
    padding-top: 5px;
    /* background-color: blue; */
    /* flex-direction: row; */
}
section{
    border: 7px black solid;
    flex: 1;
    min-height: 750px;
}

#image{
    background-color: #000;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text{
    background-color: #fff;
    color: #111;
}

#text article{
    display: block;
    margin: 75px;
    line-height: 1.5em;
    max-width: 450px;
}

#text article p{
    margin-bottom: 1.8em;
}

.main{
    display: flex;

    /* ----------toggle here----------- */
    /* display: none; */
}


.overlay{
    background-color: white;
    min-width: 900px;
    min-height: 500px;
    /* margin: auto; */
    border: 7px black solid;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    /* ----------toggle here----------- */
    /* display: none; */
}

input{
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: large;
    border-radius: 0;
    border-style: solid;
    border-color: black;
}

.controls{
    display: flex;
    gap: 50px;
}

.controls #progress{
    /* border: red 1px solid; */
    min-width: 100px;
    text-align: center;
}

button{
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: large;
    padding: 10px 20px;
    border-radius: 0;
    color: black;
    border-color: black;
    border-width: 5px;
    background-color: white;
    border-style: solid;
}

 button:hover{
    background-color: #f3e600;
    color: black;
}

 button:active{
    background-color: #f3e600;
    color: black;
}

.controls p{
    padding-top: 10px;
}


h2{
    font-family: "Raleway", serif;
    font-weight: 600;
    color: black;
}

#text article h2{
    padding-bottom: 30px;
}

.overlay h2{
    font-size: 3em;
}

.overlay p{
    font-size: x-large;
}

p{
    font-family: "Raleway", serif;
    font-weight: 300;
    font-size: large;
    color: black;
}

span{
    /* color: #f3e600; */
    text-decoration: underline;
    text-decoration-color: #f3e600;
    text-decoration-thickness: 3px;
    font-weight: 600;
}


/* .raleway-<uniquifier> {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */


.hidden{
    display: none;
}

.showing{
    display: flex;
}